@import "imports/_mixins";

/* Fonts */
$body-font: "Helvetica Neue",Helvetica,Arial,sans-serf;

/* Colors */

/* Basic CSS */

html {
	min-height: 100%;
}

body {
	margin-top: 15px;
	font: normal normal 400 14px/1.5 $body-font;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 10px!important;
	padding-left: 10px!important;
}

.clearfix {
	@include clearfix();
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

::-moz-focus-inner {
	border: 0;
}

em, i {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6, strong, b {
	font-weight: 700
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

h2 {
	font-size: 1.5em;
	margin: .83em 0
}

h3 {
	font-size: 1.17em;
	margin: 1em 0
}

h4 {
	font-size: 1em;
	margin: 1.33em 0
}

h5 {
	font-size: .83em;
	margin: 1.67em 0
}

h6 {
	font-size: .75em;
	margin: 2.33em 0
}

hr {
	height: 1px;
	border: none;
	@include inline-block();
	margin: 1em 0;
	background-color: rgba(0,0,0,0.2);
	width: 100%;
}

table {
	table-layout: fixed;
	width: 100%;
	th {
		text-align: left;
		&[align="left"] {
			text-align: left;
		}
		&[align="center"], &[align="middle"] {
			text-align: center;
		}
		&[align="right"] {
			text-align: right;
		}
	}
}

@include placeholder {
	color: rgba(0,0,0,0.5);
}

label, input, select, textarea, button, button[type="button"], input[type="button"], input[type="reset"], input[type="submit"] {
	// these font styles are not inherited from the body!!
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}

form {
	label, input, button, select, textarea {
		@include inline-block();
		width: 100%;
		outline: none;
		border: none;
		margin-bottom: 1em;
		padding: 0.4em;
		border: 1px solid rgba(0,0,0,0.2);
		transition: border 0.2s ease;
		&:focus {
			border: 1px solid rgba(0,0,0,0.5);
		}
	}
	input[type="submit"], button, button[type="button"], input[type="button"], input[type="reset"], input[type="submit"] {
		width: auto;
		padding: 0.4em 1em;
		&:hover {
			background: black;
		}
	}
	textarea {
		// resize: none;
		max-width: 100%; // no annoying >100% stretching
	}
}

.center {
	text-align: center;
	padding: 0 2em;
	img {
		max-width: 100%;
		height: auto;
	}
}

/* ############################## */
/*            Main CSS            */
/* ############################## */
 
.detalhes-vaga{
    display: none;
}

.cabecalho {
	background-color: #D32F2F;
	text-align: center;  
	color: white;
	font-size: 1.4em;
	padding: 40px 0px;
	span {
		background-color: #03A9F4;
		padding: 2px 5px;
		border-radius: 5px;
	}
	h2:hover {
		color: #FFCDD2;
	}
}

.bloco {
	margin-top: 20px;
	.item {
		text-align: center;
		padding: 10px;
		a {
			color: black;
			&:hover {
				text-decoration: none;
			}
		}
		div {
			padding: 20px 0;
			background-color: #B6B6B6;
			border-bottom: 2px solid #F44336;
			border-right: 2px solid #F44336;
			i {
				font-size: 5em;
				color: #727272;
				transition: font-size 0.3s;
			}
			span {
				display: block;
			}
			&:hover {
				background-color: #F44336;
				font-size: 1.2em;
				color: white;
				i {
					color: #03A9F4;
				}
			}
		}
	}
}

a.navbar-brand {
	color: white !important;
	span {
		background-color: #03A9F4;
		padding: 2px 5px;
		border-radius: 5px;
	}
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover
{
	color: white !important;
	background-color: #F44336;
}

.box-contato {
	label {
		border: none;
		&.control-label {
			text-align: left;
		}
	}
}

.vaga {
	margin: 0 0 30px 0;
	h3 {
		position: absolute;
		top: -25px;
		background-color: #03A9F4;
		color: white;
		padding: 5px 10px;
	}
	.box-vaga {
		padding: 10px;
		border-radius: 5px;
		background-color: #FFCDD2;
		box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.05);
	}
}

.box-candidato {
	background-color: #FFCDD2;
	padding: 15px;
	box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.05);
	margin: 5px 0px;
	img {
		max-width: 100px;
		height: auto;
		border-radius: 100%;
		border: 2px solid black;
		box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.05);
	}
	span.titulo {
		display: block;
		font-weight: 600;
	}
}

.navbar-default .navbar-nav>li>a {
	color: white !important;
}


.navbar-default {
	background-color: #D32F2F;
	border-color: #D32F2F;
}

/* Responsive CSS */

/* Tablets */
@media (max-width: 767px) {
	
}

/* Mobile */
@media (max-width: 480px) {
	
}









